root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.IDE0055.severity = warning

[**/Migrations/*.cs]
generated_code = true

[*.{csproj,props,slnx,yml,yaml,json}]
indent_style = space
indent_size = 2
